# ----------------------------------------
# Node / React
# ----------------------------------------
/node_modules
*.log

# ----------------------------------------
# IDEs y sistema
# ----------------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
*.bak

# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------------------
# Django migrations
# ----------------------------------------
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.py


#entorno virtual
venv/
